* {
    margin:0;
    box-sizing:border-box;
}


body {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image:url("../images/paw.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    

}

header{
    background-color: brown;
    padding:17px
    
    
}

h1 {
    color:white;
    text-align:center;
    margin: 10px;
    
}

p {
    text-align:center;
    color:brown;
    text-shadow: 1px 1px white;
    font-size:30px;
    margin:20px auto;

}
form {
    border: 1px solid burlywood;
    background-color:white;
    width:max-content;
    padding:30px;
    /*to center a block level element, use margin*/
    margin:40px auto;
    border-radius: 10px;
    font-size: 20px;
}

input[type="submit"]{
    display:block;
    margin:10px auto;
    background-color: burlywood;
    color:white;
    width:70%;
    border-radius:5px;
    padding:10px 0px;
    font-size:18px;